/* fonts */
$default-icon-font-size: 14px;

/* toolbar */
$toolbar-height: 75px;
$toolbar-background-color: #258ecd;
$toolbar-font-color: #fff;

/* checkboxes */
$checkbox-default-size: 20px;
$checkbox-background-color-from: #222;
$checkbox-background-color-to: #45484d;
$checkbox-background-color-check: #fcfff4;