/* colors */
$app-primary-background-color: #258ecd;
$app-secondary-background-color: #f5f5f5;
$app-primary-font-color: #000;
$app-secondary-font-color: #fff;

/* fonts */
$app-large-font-size: 40px;
$app-medium-font-size: 30px;
$app-small-font-size: 20px;
$app-tiny-font-size: 12px;
$default-icon-font-size: 14px;

/* toolbar */
$toolbar-height: 75px;
$toolbar-background-color: $app-primary-background-color;
$toolbar-font-color: $app-secondary-font-color;

/* checkboxes */
$checkbox-default-size: 20px;
$checkbox-background-color-from: #222;
$checkbox-background-color-to: #45484d;
$checkbox-background-color-check: #fcfff4;