.fuelsort-price-row {
  .checkbox-container {
	@include checkbox($checkbox-default-size);
  }

  .fuelsort-label {
  	margin-left: 30px;
	cursor: pointer;
  }

  .price-container {
	text-align: center;

	& * {
	  display: inline-block;
	}

	.price {
	  font-size: 20px;
	  font-weight: bold;
	}
  }
}