@mixin single-spinner($radius, $border-width, $duration) {
  height: $radius;
  width: $radius;
  margin: 0 auto;
  position: relative;
  border: $border-width solid lighten($app-primary-background-color, 40%);
  border-radius: 100%;
  @include animation(rotation, $duration, linear);

  &:before {
	content: '';
	display: block;
	position: absolute;
	top: -$border-width;
	height: 100%;
	width: 100%;
	border-top: $border-width solid $app-primary-background-color;
	border-left: $border-width solid transparent;
	border-bottom: $border-width solid transparent;
	border-right: $border-width solid transparent;
	border-radius: 100%;
  }
}

@mixin double-spinner($radius, $border-width, $duration) {
  margin: auto;
  height: $radius;
  width: $radius;
  background: none;
  border-radius: 100px;
  border-top: $border-width solid $app-primary-background-color;
  border-bottom: $border-width solid $app-primary-background-color;
  border-left: $border-width solid transparent;
  border-right: $border-width solid transparent;

  @include animation(rotation, $duration, linear);
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

@mixin dots-loading-indicator($dot-radius) {
  text-align: center;
  width: 100%;

  & > * {
	background-color: $app-primary-background-color;
	display: inline-block;
	height: $dot-radius * 2;
	width: $dot-radius * 2;
	@include border-radius($dot-radius);
	margin: 0 5px;
	opacity: 0.8;

	@include animation(appLoadingIndicator, 1s, ease-in-out);
  }

  .first {
	@include animation-delay(0s);
  }

  .second {
	@include animation-delay(0.15s);
  }

  .third {
	@include animation-delay(0.3s);
  }
}

@-webkit-keyframes appLoadingIndicator {
  0% { opacity: 0.8; }
  50% { opacity: 0; }
  100% { opacity: 0.8; }
}

@-moz-keyframes appLoadingIndicator {
  0% { opacity: 0.8; }
  50% { opacity: 0; }
  100% { opacity: 0.8; }
}

@-o-keyframes appLoadingIndicator {
  0% { opacity: 0.8; }
  50% { opacity: 0; }
  100% { opacity: 0.8; }
}

@keyframes appLoadingIndicator {
  0% { opacity: 0.8; }
  50% { opacity: 0; }
  100% { opacity: 0.8; }
}

.big-spinner {
  @include double-spinner(150px, 10px, 1s);
}

.small-spinner {
  @include double-spinner(20px, 2px, 1s);
}

.dots-indicator {
  @include dots-loading-indicator(15px);
}