<a href="#entryDetail/<%- entry.id %>" class="col-md-3 col-sm-4 col-xs-6 entry-item">
	<div id="entry-<%- entry.id %>" class="entry-container">
		<h4 class="mts-label"><span class="label label-default" title="Dieser Preis wurde von der Markttransparenzstelle (MTS) bereitgestellt.">MTS</span></h4>
		<div class="gasstation-image-container">
			<img src="resources/images/<%- gasstation.name.toLowerCase() %>.png" />
		</div>
		<div class="fuelsort-label"><%- fuelsort.name %></div>
		<div class="price-label"><%- entry.price.toFixed(2) %></div>
		<div class="elapsed-time-label"><%- elapsedTime %></div>
	</div>
</a>