<div class="detail-row">
	<div class="gasstation-name">
		<img src="resources/images/<%- entryData.gasstation.name.toLowerCase() %>.png" />
		<%- entryData.gasstation.name %>
	</div>
	<div><%- entryData.location.street %>, <%- entryData.location.city %></div>
	<a href="http://maps.google.de/maps?q=<%- entryData.location.latitude %>,<%- entryData.location.longitude %>" target="_blank">In Google Maps ansehen</a>
</div>

<div class="detail-row">
	<%- entryData.fuelsort.name %> für <span class="fuelsort-price"><%- entryData.entry.price %> €</span>
</div>

<div class="detail-row">
	Datum: <%- formattedDateString %>
</div>

<div class="detail-row">
	<b>Statistiken für "<%- entryData.fuelsort.name %>"</b>
	<div>&empty; <%- entryData.fuelsort.averagePriceSince14Days %> € (letzte 14 Tage)</div>
	<div>&empty; <%- entryData.fuelsort.averagePrice %> € (gesamt)</div>
</div>