.entry-item {
  color: $app-primary-font-color;

  .entry-container {
	border: 1px solid darken($app-secondary-background-color, 20%);
	border-radius: 10px;
	background-color: $app-secondary-background-color;
	padding: 10px;
	margin-bottom: 10px;
	height: 150px;

	&:hover {
	  border-color: $app-primary-background-color;
	}

	.gasstation-image-container {
	  position: absolute;
	  width: 40px;

	  img {
		width: 100%;
	  }
	}

	.fuelsort-label {
	  position: absolute;
	  top: 50px;
	  left: 25px;
	  font-size: $app-small-font-size;
	}

	.price-label {
	  position: absolute;
	  top: 70px;
	  left: 25px;
	  font-size: $app-large-font-size;
	  font-weight: bold;
	}

	.elapsed-time-label {
	  position: absolute;
	  top: 125px;
	  left: 25px;
	  font-size: $app-tiny-font-size;
	}
  }
}