<div id="statistics">

	<div>
		<label for="fuelsort-chooser">Spritsorte</label>
		<select id="fuelsort-chooser" class="form-control"></select>
	</div>

	<div id="gasstation-chooser-view-container" class="form-row"></div>

	<div class="col-xs-6">
		<label for="from-date">von</label>
		<input type="text" id="from-date" class="form-control" />
	</div>
	<div class="col-xs-6">
		<label for="to-date">bis</label>
		<input type="text" id="to-date" class="form-control" />
	</div>

	<button id="load-statistics-button" class="btn btn-large btn-primary icon-statistics">Statistiken laden</button>

	<div class="statistic-results"></div>

	<span class="statistic-chart">
		<canvas id="chart" height="300" width="2000"></canvas>
	</span>
</div>