<div class="row statistic-row">
	<div class="col-xs-4">
		<div class="icon-minimum price-label"><%- (minPrice === 0) ? '?' : minPrice %> €</div>
	</div>
	<div class="col-xs-4">
		<div class="price-label">&empty; <%- (avgPrice === 0) ? '?' : avgPrice %> €</div>
	</div>
	<div class="col-xs-4">
		<div class="icon-maximum price-label"><%- (maxPrice === 0) ? '?' : maxPrice %> €</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6 day-statistic-container statistic-row">
		<div class="icon-day"><b>Wann kann ich am besten tanken?</b></div>

		<% if (cheapestDay && cheapestAvgPriceDay) { %>
		<div class="icon-minimum"><%- cheapestDay %> (&empty; <%- cheapestAvgPriceDay %> €)</div>
		<% } else { %>
		<div><span class="icon-minimum"></span>keine Daten vorhanden</div>
		<% } %>

		<% if (mostExpensiveDay && mostExpensiveAvgPriceDay) { %>
		<div class="icon-maximum"><%- mostExpensiveDay %> (&empty; <%- mostExpensiveAvgPriceDay %> €)</div>
		<% } else { %>
		<div><span class="icon-maximum"></span>keine Daten vorhanden</div>
		<% } %>
	</div>

	<% if (typeof locationData !== 'undefined') { %>
	<div class="col-xs-12 col-sm-6 location-statistic-container statistic-row">
		<div class="icon-euro"><b>Wo kann ich am besten tanken?</b></div>

		<% if (typeof locationData.cheapestLocation !== 'undefined') { %>
		<div><span class="icon-minimum"></span><%- locationData.cheapestLocation.gasstation.name %>, <%- locationData.cheapestLocation.location.street %>, <%- locationData.cheapestLocation.location.city %> (&empty; <%- locationData.cheapestAvgPriceLocation %> €)</div>
		<% } else { %>
		<div><span class="icon-minimum"></span>keine Daten vorhanden</div>
		<% } %>

		<% if (typeof locationData.mostExpensiveLocation !== 'undefined') { %>
		<div><span class="icon-maximum"></span><%- locationData.mostExpensiveLocation.gasstation.name %>, <%- locationData.mostExpensiveLocation.location.street %>, <%- locationData.mostExpensiveLocation.location.city %> (&empty; <%- locationData.mostExpensiveAvgPriceLocation %> €)</div>
		<% } else { %>
		<div><span class="icon-maximum"></span>keine Daten vorhanden</div>
		<% } %>
	</div>
	<% } %>
</div>