<div id="entry-form">
	<h1>Neuer Eintrag</h1>

	<div id="row gasstation-chooser-container">
		<select id="gasstation-chooser" class="form-control"></select>
		<select id="location-chooser" class="form-control"></select>
	</div>

	<div class="fuelsort-price-container"></div>

	<div class="row">
		<label>
			Datum & Uhrzeit
			<input type="text" id="datetime" class="form-control" />
		</label>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<button id="save-entry-button" class="btn btn-large btn-primary icon-save">Speichern</button>
		</div>
		<div class="col-xs-6">
			<button id="cancel-edit-button" class="btn btn-large btn-danger icon-cancel">Abbrechen</button>
		</div>
	</div>
</div>