<div id="entry-form">
	<div class="large-12 columns">
		<h1>Neuer Eintrag</h1>
	</div>

	<div id="gasstation-chooser-container">
		<select id="gasstation-chooser"></select>
		<select id="location-chooser"></select>
	</div>

	<div class="fuelsort-price-container"></div>

	<div class="large-12 columns">
		<label for="datetime">Datum & Uhrzeit</label>
		<input type="text" id="datetime" />
	</div>

	<div class="small-6 columns">
		<button id="save-entry-button" class="small icon-save">Speichern</button>
	</div>
	<div class="small-6 columns">
		<button id="cancel-edit-button" class="small icon-cancel">Abbrechen</button>
	</div>
</div>