<div id="entry-form">
	<h1>Neuer Eintrag</h1>

	<div id="gasstation-chooser-container" class="form-row">
		<select id="gasstation-chooser" class="form-control"></select>
		<select id="location-chooser" class="form-control"></select>
	</div>

	<div class="fuelsort-price-container"></div>

	<div class="form-row">
		<input type="text" id="datetime" class="form-control" />
	</div>

	<div class="row form-row">
		<div class="col-xs-6">
			<button id="save-entry-button" class="btn btn-large btn-primary icon-save">Speichern</button>
		</div>
		<div class="col-xs-6">
			<button id="cancel-edit-button" class="btn btn-large btn-danger icon-cancel">Abbrechen</button>
		</div>
	</div>
</div>