<div id="fuelsort-price-row-<%- id %>" class="fuelsort-price-row">
	<div class="large-9 small-6 columns">
		<div class="checkbox-container">
			<input type="checkbox" id="fuesort-checkbox-<%- id %>" value="<%- id %>"  />
			<label for="fuesort-checkbox-<%- id %>"></label>
		</div>
		<div class="fuelsort-label"><%- name %></div>
	</div>
	<div id="price-container-<%- id %>" class="price-container large-3 small-6 columns">
		<button class="decrement-price-button small">-</button>
		<div id="price-<%- id %>" class="price">1.11</div>
		<button class="increment-price-button small">+</button>
	</div>
</div>