.loading-indicator-wrapper {
  position: absolute;
  width: 100%;
  padding-top: 10%;
  text-align: center;

  .loading-information {
	padding-top: 20px;
  }
}

#app-container {
  -webkit-user-select: none;
  display: none;
  margin-top: $toolbar-height + $app-container-margin-top;
}