.menu-mask {
  display: none;
  background-color: #000;
  width: 100%;
  height: 9999px;
  position: fixed;
  z-index: -1;
  opacity: 0;
  overflow: hidden;

  &.visible {
	display: block;

	-webkit-transition: opacity $menu-transition-time $menu-transition-type;
	-moz-transition: opacity $menu-transition-time $menu-transition-type;
	transition: opacity $menu-transition-time $menu-transition-type;

	opacity: 0.3;
	z-index: 1000;
  }
}

#menu-container {
  -webkit-user-select: none;

  .menu {
	background: $menu-background-color;
	position: fixed;

	a {
	  display: block;
	  color: $app-secondary-font-color;
	  text-decoration: none;

	  &:hover {
		background: $menu-hover-background-color;
	  }
	}
  }

  .menu-vertical {
	width: $menu-width;
	height: 9999px;
	top: 0;
	z-index: 1000;

	a {
	  border-bottom: 1px solid $menu-border-color;
	  padding: 1em;
	}
  }

  .menu-left {
  /* use translate instead of left => better performance */
	-webkit-transform: translate(-$menu-width, 0px);
	-moz-transform: translate(-$menu-width, 0px);

	&.menu-open {
	  /* use translate instead of left => better performance */
	  -webkit-transform: translate(0px, 0px);
	  -moz-transform: translate(0px, 0px);
	}
  }
}

.menu-push {
  overflow-x: hidden;
  position: relative;
  /* use translate instead of left => better performance */
  //-webkit-transform: translate(0px, 0px);
  //left: 0px;
}

.menu-push-to-right {
  /* use translate instead of left => better performance */
  //-webkit-transform: translate($menu-width, 0px);
  //left: $menu-width;
}

.menu, .menu-push {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;

  -webkit-transition: all $menu-transition-time $menu-transition-type;
  -moz-transition: all $menu-transition-time $menu-transition-type;
  transition: all $menu-transition-time $menu-transition-type;
}