#statistics {
  .statistic-chart {
	display: none;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
  }

  .statistic-row {
	margin-top: 10px;
  }

  .price-label {
	font-size: $app-small-font-size;
  }
}