#toolbar-container {
  .toolbar {
	height: $toolbar-height;
	background-color: $toolbar-background-color;
	color: $toolbar-font-color;

	.menu-toggle {
	  display: inline-block;
	}

	.toolbar-headline {
	  display: inline-block;
	  font-size: $app-medium-font-size;
	  margin-top: 15px;
	  margin-left: 15px;
	}
  }
}