#toolbar-container {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0px;

  @include outer-shadow(0px, 0px, $toolbar-shadow-blur-radius, 0px, #000);

  .toolbar {
	height: $toolbar-height;
	background-color: $toolbar-background-color;
	color: $toolbar-font-color;

	.menu-toggle {
	  position: absolute;
	  line-height: $toolbar-height;
	  cursor: pointer;
	}

	.toolbar-headline {
	  display: inline-block;
	  font-size: $app-medium-font-size;
	  line-height: $toolbar-height;
	  margin-left: 50px;
	}
  }
}