#toolbar-container {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0px;

  -webkit-box-shadow: #000 0px 0px $toolbar-shadow-blur-radius;
  box-shadow: #000 0px 0px $toolbar-shadow-blur-radius;

  .toolbar {
	height: $toolbar-height;
	background-color: $toolbar-background-color;
	color: $toolbar-font-color;

	.menu-toggle {
	  display: inline-block;
	  cursor: pointer;
	}

	.toolbar-headline {
	  display: inline-block;
	  font-size: $app-medium-font-size;
	  margin-top: 15px;
	  margin-left: 15px;
	}
  }
}